/* =========================
   HEADER
========================= */

.main-header {

    height: 65px;

    padding: 0 30px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: #F5C400;

    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}

.logo h1 {

    margin: 0;

    color: #1F2937;

    font-size: 2rem;

    font-weight: 700;

    text-transform: uppercase;
}

.nav-menu {

    display: flex;

    align-items: center;

    gap: 15px;
}

.nav-menu a,
.nav-menu button {

    height: 40px;

    padding: 0 18px;

    border: none;

    border-radius: 10px;

    background: rgb(253, 242, 190);

    color: #333;

    font-weight: 600;

    display: flex;

    align-items: center;

    justify-content: center;

    text-decoration: none;

    cursor: pointer;

    transition: .2s;
}

.nav-menu a:hover,
.nav-menu button:hover {

    transform: translateY(-2px);

    box-shadow: 0 4px 12px rgba(0,0,0,.18);
}

/* =========================
   HEADER DARK
========================= */

body.dark-theme .main-header {

    background-color: #1F2535;
}

body.dark-theme .logo h1 {

    color: white;
}

body.dark-theme .nav-menu a,
body.dark-theme .nav-menu button {

    background: #2D3448;

    color: white;
}

/* =========================
   RANKING ACTIONS
========================= */

.ranking-actions {

    margin-top: 25px;

    display: flex;

    justify-content: flex-end;

    gap: 12px;
}